@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dans ton fichier CSS global */
html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
